/*
NOTE: EDITS IN THIS FILE WILL NOT SHOW UP UNLESS YOU HAVE A SCSS FILE WATCHER ENABLED IN PYCHARM
*/
html, body {
  background: #616265;
  color: rgba(245, 245, 245, 0.6);
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.app {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Pieces */
.banner {
  height: calc(1em + 6em);
  background-color: #30363b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #d47827;
  z-index: 1000;
}
.banner__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #007836;
  font-weight: bold;
  min-width: 20ch;
  line-height: calc(1em + 6em);
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100%;
}
.banner__button > h4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 14ch;
}
.banner__button--with-image {
  min-width: 25vw;
}
.banner__button--active {
  background-color: #191C1F;
}
.banner__button > img {
  padding-left: 0.5em;
  height: 6em;
}
.banner__button > .banner__button--wide {
  padding: 0 0.5em;
}
.banner__button:hover {
  background-color: #474f57;
}
.banner__text {
  margin: 0 0.5em 0 auto;
  padding-right: 2.5em;
  text-align: right;
  font-size: 2.5rem;
}
.banner__text > h5 {
  font-family: "Open Sans Semi Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.banner__text > h6 {
  font-size: 1.6rem;
  line-height: 1;
}

.main-content {
  width: 100%;
}

input[type=number] {
  width: 100px;
  margin-right: 5px;
  text-align: right;
}

.settings-container, .simulation-container {
  letter-spacing: 1px;
  display: flex;
}

.simulation-container {
  justify-content: space-between;
}
.simulation-container *[id*=switch] {
  width: 50%;
  margin: 0 auto;
}
.simulation-container__buttons-panel {
  text-align: center;
  width: 25%;
  min-width: 500px;
}
.simulation-container__buttons-panel .stop-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simulation-container__buttons-panel .stop-button button {
  border-radius: 4px;
}
.simulation-container__buttons-panel > *:not(:last-child) {
  margin: 0.5em auto;
  padding: 0.5em;
  width: calc(100% - 2em);
}
.simulation-container .graphs-container {
  display: flex;
  flex-direction: column;
}
.simulation-container .graphs-container__row {
  display: flex;
}
.simulation-container .graphs-container__row .dash-graph__wrapper {
  border-top: 0.5px dashed #007836;
  border-left: 0.5px dashed #007836;
  border-bottom: 0.5px dashed #007836;
}
.settings-container {
  box-sizing: border-box;
  border-bottom: 2px solid #d47827;
}
.settings-container .settings-container__configuration__wrapper, .settings-container .settings-container__upload__wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.settings-container__upload {
  overflow-y: hidden;
  width: 100%;
}
.settings-container__configuration {
  width: 100%;
}
.settings-container__configuration__wrapper {
  margin: 0 1em;
}

.upload, .usecase-configuration {
  width: 100%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 2rem 0;
}
.upload > h6, .usecase-configuration > h6 {
  text-align: center;
  font-weight: 700;
}

.dash-dropdown {
  color: #191C1F;
}
.dash-dropdown span.Select-clear:hover {
  color: #007836;
}

.main-button, .modal__close-container > button, .usecase-set-button, .markdown-container .close-container button, .upload__button button, .button-panel > div button.button, .usecase-configuration__button > button {
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.6);
  background-color: #007836;
  border: 1px solid #d47827;
  text-transform: none;
  font-size: 1em;
}

.usecase-configuration {
  margin: 0 1ch;
  width: calc(100% - 2 * 1ch);
}
.usecase-configuration__header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  line-height: 1;
  padding: 2rem 0 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #191C1F;
  border-bottom: 1px solid #191C1F;
}
.usecase-configuration__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.usecase-configuration__label {
  flex: 3 1;
  word-break: break-all;
  hyphens: auto;
}
.usecase-configuration__switch {
  flex: 2 1;
}
.usecase-configuration__dropdown {
  flex: 3 1;
  padding-right: 1em;
}
.usecase-configuration__button-label {
  flex: 1 1;
}
.usecase-configuration__set-button {
  margin: 0 auto;
  width: 25ch;
  flex: 1 1;
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.6);
  background-color: #007836;
  border: 1px solid #d47827;
}
.usecase-configuration__button {
  margin: 0 auto;
}
.button-panel {
  max-width: 400px;
}
.button-panel > div {
  display: flex;
  justify-content: space-between;
}
.button-panel > div:not(:first-child) {
  margin-top: 1em;
}
.button-panel > div button.button {
  flex: 2 2 auto;
  padding: 1px 6px;
  margin-right: 1em;
}
.button-panel > div input {
  flex: 2 1 auto;
}

.price-change-slider .rc-slider-track, .grid-load-change-slider .rc-slider-track {
  background-color: #45ff99;
}
.price-change-slider .rc-slider-handle:hover, .grid-load-change-slider .rc-slider-handle:hover {
  background-color: #45ff99;
}
.price-change-slider[class^=rc-slider-dot], .price-change-slider[class^=rc-slider-handle], .price-change-slider[class=rc-slider-dot-active], .grid-load-change-slider[class^=rc-slider-dot], .grid-load-change-slider[class^=rc-slider-handle], .grid-load-change-slider[class=rc-slider-dot-active] {
  border-color: #45ff99;
}
.price-change-slider .rc-slider-mark-text-active, .grid-load-change-slider .rc-slider-mark-text-active {
  color: #e7ad7a;
}

.upload {
  overflow: hidden;
}
.upload__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  text-align: left;
  padding-top: 1em;
}
.upload__row::before {
  position: absolute;
  top: 0;
  left: 1ch;
  right: 1ch;
  content: "";
  border-bottom: 3px solid #007836;
}
.upload__row > label {
  flex: 1 1 100%;
  text-align: center;
}
.upload__date-picker {
  margin: 1em 0;
}
.upload__file {
  border: 1px dashed;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.6rem;
  color: #616265;
  cursor: pointer;
  background: repeating-linear-gradient(300deg, whitesmoke 3px, whitesmoke 3px, #aeafb1 6px, #aeafb1 12px);
}
.upload__file > label[for=file] {
  cursor: pointer;
}
.upload__button {
  margin: 0 auto;
  width: 25ch;
}
#data-upload-select-menu-wrapper {
  border-left: 2px solid #d47827;
}

#markdown-panelb h6, #markdown-panel2b h6 {
  text-align: center;
  font-weight: 500;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: left;
}
.input-block__row {
  width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.input-block__row label {
  flex: 2 1 auto;
  text-align: center;
}
.input-block__row input {
  flex: 1 1 auto;
  text-align: right;
  margin: 0.5em 0;
  max-width: 75%;
}
.input-block__rows {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.markdown-container {
  width: 40%;
  background-color: #30363b;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.markdown-container .close-container {
  display: flex;
  justify-content: flex-end;
}
.markdown-container .close-container button {
  margin: 0.5em 0.5em 0 0;
}

.markdown-content, .markdown-content2, .markdown-content3, .markdown-content4, .markdown-content5 {
  display: flex;
  margin-bottom: 1em;
}

.usecase-set-button {
  width: 16ch;
  margin: 0 0.5em 0.5em;
}

#markdown-panela, #markdown-panel2a, #markdown-panel3a, #markdown-panel4a {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Usecase configuration buttons */
.usecase-line-row {
  display: flex;
}
.usecase-line-row > *:first-child {
  margin-right: 0.5em;
}

.usecase-switch {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.usecase-switch__switch {
  flex: 1 1 50%;
}
.usecase-switch label {
  flex-basis: 100%;
  text-align: center;
}

.usecase-setting-input {
  margin-left: auto;
}

.usecase-line-row {
  display: flex;
  flex-direction: row;
}

.simulation-block {
  font-size: 1.4rem;
}
.simulation-block--with-break {
  border-top: 2px dashed #007836;
}

#value-setter-panel-header2, #usecase-dcr-header, #usecase-pfc-header {
  font-weight: bold;
  color: darkgray;
  line-height: 1;
  padding: 2rem 0;
  border-top: 1px solid #4b5460;
  border-bottom: 1px solid #4b5460;
}

#usecase-header > div, #value-setter-panel-header2 > div, #usecase-dcr-header > div, #usecase-pfc-header > div {
  text-align: center;
}

.modal {
  display: none;
  /*Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1001;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}
.modal__container {
  width: 40%;
  background-color: #30363b;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
.modal__close-container {
  display: flex;
  justify-content: flex-end;
}
.modal__close-container > button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em 0.5em 0 0;
  padding: 0;
  width: 20%;
}
.modal__close-container > button > p {
  margin: 0;
}
.modal__content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 70%;
  justify-content: center;
  margin: auto auto 1em;
}
.modal__content > h6 {
  flex: 1 1 100%;
}
.modal__header {
  flex: 1 1 100%;
  font-weight: bold;
  color: darkgray;
  line-height: 1;
  padding: 2rem 0;
  border-top: 1px solid #4b5460;
  border-bottom: 1px solid #4b5460;
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.modal__row {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__row--margin-bottom {
  margin-bottom: 1rem;
}
.modal__switches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.modal__switches > label {
  flex-basis: 100%;
}
.modal__switches__switcher {
  flex-basis: 50%;
}

/*# sourceMappingURL=app.css.map */
