/*
NOTE: EDITS IN THIS FILE WILL NOT SHOW UP UNLESS YOU HAVE A SCSS FILE WATCHER ENABLED IN PYCHARM
*/
html, body {
  background: #616265;
  color: rgba(245, 245, 245, 0.6);
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.app {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Pieces */
.banner {
  height: calc(1em + 5em);
  background-color: #30363b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #d47827;
  z-index: 1099;
}
.banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #007836;
  font-weight: bold;
  max-width: 20ch;
  min-width: 12ch;
  line-height: calc(1em + 5em);
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100%;
}
.banner__button--active {
  background-color: #24292d;
}
.banner__button > img {
  padding-left: 0.5em;
  height: 5em;
}
.banner__button > h5.banner__button--wide {
  padding: 0 0.5em;
}
.banner__button:hover {
  background-color: #3b4249;
}
.banner__text {
  margin: 0 0.5em 0 auto;
  text-align: right;
}
.banner__text > h5 {
  font-family: "Open Sans Semi Bold", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.banner__text > h6 {
  font-size: 1.6rem;
  line-height: 1;
}

.main-content {
  width: 100%;
}

.slider-label, .switch-label {
  font-size: 1.6rem;
}

input[type=number] {
  width: 100px;
  margin-right: 5px;
  text-align: right;
}

.settings-container, .simulation-container {
  letter-spacing: 1px;
  display: flex;
}

.simulation-container *[id*=switch] {
  width: 50%;
  margin: 0 auto;
}
.simulation-container__buttons-panel {
  text-align: center;
  width: 30%;
}
.simulation-container__buttons-panel .stop-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simulation-container__buttons-panel .stop-button button {
  border-radius: 4px;
}
.simulation-container .graphs-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.simulation-container .graphs-container__row {
  display: flex;
}
.simulation-container .graphs-container__row .dash-graph__wrapper {
  border-top: 2px dashed #007836;
  border-left: 2px dashed #007836;
  border-bottom: 2px dashed #007836;
}

.settings-container {
  box-sizing: border-box;
  border-bottom: 2px solid #d47827;
}

.settings-container__upload {
  overflow-y: hidden;
}

.settings-container__configuration__wrapper, .settings-container__upload__wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.upload, .usecase-configuration {
  width: 100%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 2rem 0;
}
.upload > h6, .usecase-configuration > h6 {
  text-align: center;
  font-weight: 700;
}

.dash-dropdown {
  color: #191C1F;
}
.dash-dropdown span.Select-clear:hover {
  color: #007836;
}

.main-button, .usecase-set-button, .upload__button button, .button-panel > div .button, .usecase-configuration__button > button {
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.6);
  background-color: #007836;
  border: 1px solid #d47827;
  text-transform: none;
  font-size: 1em;
}

.usecase-configuration__header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  line-height: 1;
  padding: 2rem 0 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #191C1F;
  border-bottom: 1px solid #191C1F;
}
.usecase-configuration__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.usecase-configuration__label {
  flex: 3 1;
  word-break: break-all;
  hyphens: auto;
}
.usecase-configuration__switch {
  flex: 2 1;
}
.usecase-configuration__dropdown {
  flex: 3 1;
  padding-right: 1em;
}
.usecase-configuration__button-label {
  flex: 1 1;
}
.usecase-configuration__set-button {
  margin: 0 auto;
  width: 25ch;
  flex: 1 1;
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.6);
  background-color: #007836;
  border: 1px solid #d47827;
}
.usecase-configuration__button {
  margin: 0 auto;
}
.button-panel {
  margin: 0 auto;
  width: 60%;
}
.button-panel > div {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.price-change-slider .rc-slider-track, .grid-load-change-slider .rc-slider-track {
  background-color: #45ff99;
}
.price-change-slider .rc-slider-handle:hover, .grid-load-change-slider .rc-slider-handle:hover {
  background-color: #45ff99;
}
.price-change-slider[class^=rc-slider-dot], .price-change-slider[class^=rc-slider-handle], .price-change-slider[class=rc-slider-dot-active], .grid-load-change-slider[class^=rc-slider-dot], .grid-load-change-slider[class^=rc-slider-handle], .grid-load-change-slider[class=rc-slider-dot-active] {
  border-color: #45ff99;
}
.price-change-slider .rc-slider-mark-text-active, .grid-load-change-slider .rc-slider-mark-text-active {
  color: #e7ad7a;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: left;
}
.input-block__row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-block__row label {
  flex: 1 1 auto;
  max-width: 20ch;
}
.input-block__row input {
  flex: 3 2 auto;
  text-align: right;
}

.upload {
  overflow: hidden;
}
.upload__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: left;
}
.upload__row::before {
  content: "";
  width: 80vw;
  margin-bottom: 1em;
  border-bottom: 3px solid #007836;
}
.upload__row__break {
  width: 100%;
}
.upload__date-picker {
  margin: 1em 0;
}
.upload__file {
  border: 1px dashed;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.6rem;
  color: #616265;
  cursor: pointer;
  background: repeating-linear-gradient(300deg, whitesmoke 3px, whitesmoke 3px, #aeafb1 6px, #aeafb1 12px);
}
.upload__file > label[for=file] {
  cursor: pointer;
}
.upload__button {
  margin: 0 auto;
  width: 25ch;
}
#data-upload-select-menu-wrapper {
  border-left: 2px solid #d47827;
}

#markdown-panelb h6, #markdown-panel2b h6 {
  text-align: center;
  font-weight: 500;
}

/* panels on the settings tab */
/*
#settings-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 4rem 5rem 1rem;
}
*/
/* The Modal (background) */
#markdown-container, #markdown-container2, #markdown-container3, #markdown-container4, #markdown-container5 {
  width: 40%;
  background-color: #EFEDED;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.markdown-content, .markdown-content2, .markdown-content3, .markdown-content4, .markdown-content5 {
  display: flex;
  flex-direction: row;
  border-left: white solid 0.8rem;
  border-right: white solid 0.8rem;
  border-bottom: white solid 0.8rem;
}

.usecase-set-button {
  width: 16ch;
  margin: 0 0.5em 0.5em;
}

#markdown-panela, #markdown-panel2a, #markdown-panel3a, #markdown-panel4a {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Usecase configuration buttons */
.usecase-line-row {
  display: flex;
  flex-direction: row;
}

.usecase-dropdown {
  width: 100px;
  align-items: right;
  border-radius: 4px;
  /*margin-right: 60px;*/
}

.usecase-setting-input {
  margin-left: auto;
}

.usecase-line-row {
  display: flex;
  flex-direction: row;
}

#value-setter-panel-header2, #usecase-dcr-header, #usecase-pfc-header {
  font-weight: bold;
  color: darkgray;
  line-height: 1;
  padding: 2rem 0;
  border-top: 1px solid #4b5460;
  border-bottom: 1px solid #4b5460;
}

#usecase-header > div, #value-setter-panel-header2 > div, #usecase-dcr-header > div, #usecase-pfc-header > div {
  text-align: center;
}

#control-type-input1, #control-type-input21 {
  align-items: center;
  margin-right: -40%;
}

#control-type-input2, #control-type-input22 {
  margin-right: 2px;
}

.modal {
  display: none;
  /*Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1005;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/*# sourceMappingURL=app.css.map */
