/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Modal
- Tabs
- Main Dashboard Tab
- Measurement Tab
- Tables/Dropdown
- Containers
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#app-container * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0;
}
#big-app-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
}

.banner {
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4B5460;
  padding: 1rem 10rem;
  width: 100%;
}

.banner h5 {
  font-family: 'Open Sans Semi Bold', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.banner h6 {
  font-size: 1.6rem;
  line-height: 1;
}

.banner button {
  color: #95969A;
  margin-right: 10px;
  height: 3rem;
  line-height: 3rem;
}

/*#banner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}*/

.banner button:hover {
  color: #92e0d3;
  border-color: whitesmoke;
}

.banner Img {
  height: 10rem;
  margin: 0px 10px;
}

#tabs {
  width: 100%;
}

.custom-tabs {
  background-color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  height: fit-content;
  cursor: pointer;
}

#Specs-tab.custom-tab, #Control-chart-tab.custom-tab {
  background-color: #B2B0B0;
  letter-spacing: 1px;
  color: inherit;
  border: 0;
  border-bottom: white solid 4px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 18px;
}

#Specs-tab.custom-tab--selected, #Control-chart-tab.custom-tab--selected {
  border-bottom: #EBBA93 solid 4px !important;
}

#Specs-tab.custom-tab {
  margin-right: 3px;
}

#Control-chart-tab.custom-tab {
  margin-left: 3px;
}

/*for the individual section's heading*/
.section-banner {
  color: darkgray;
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem 2rem;
  border-bottom: 1px solid #4b5460;
}

/* Main Dashboard Tab
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#top-section-container {
  height: 40rem;
  flex-direction: row;
  display: flex;
  max-width: 100%;
  
  /*width: 100%;*/
}


#buttons_panel.row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#bottom-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: white solid 0.8rem;
  border-bottom: white solid 0.8rem; 
  justify-content: flex-end;
  align-items: flex-end;
}



#left-graph {
  height: 100%;
  flex: 1 1 auto;
}

#right-graph{
  height: 100%;
  margin: 0;
  border-left: white solid 0.8rem;
  flex: 1 1 auto;
}

#left-graph-fig, #right-graph-fig {
  
  height: 95%;
  width: 95%;
}

/* Tab2 content
–––––––––––––––––––––––––––––––––––––––––––––––––– */


#value-setter-panel {
  line-height: 2;
}

.usecase-line-row {
  display: flex;
  flex-direction: row;
}


#usecase-header, #value-setter-panel-header2 {
  font-weight: bold;
  color: darkgray;
  line-height: 1;
  padding: 2rem 0;
  border-top: 1px solid #4b5460;
  border-bottom: 1px solid #4b5460;
}

#usecase-header > div, #value-setter-panel-header2 > div {
  text-align: center;
}



#demand-charge-reduction, #power-factor-correction, #arbitrage, #reserves-placement{
  padding: 1rem 0;
}


/*
 Tab3 content
––––––––––––––––––––––––––––––––––––––––––––––––––


#value-setter-panel-header2 {
  font-weight: bold;
  color: darkgray;
  line-height: 1;
  padding: 2rem 0;
  border-bottom: 1px solid #4b5460;
}

#value-setter-panel-header2 > div {
  text-align: right;
}

#value-setter-panel-t0, #value-setter-panel-current {
  padding: 1rem 0;
}
*/




/* Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#app-container {
  background: white;
  margin: 1rem 2rem;
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 10rem - 1px);
}

#app-content {
  background: inherit;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

#system-configuration-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 4rem 5rem 1rem;
} 

#configuration-select-menu-wrapper {
  width: 90%;
  /*box-sizing: content-box;*/
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/
  align-items: center;
}

#upload-load-profile-data, #upload-energy-price-data, #upload-ess-data {
  width: 40%;
  margin-left: auto;
  height: 35px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  background-color: white;
 
}

#output-upload-cable-data, #output-upload-ess-data {
  font-weight: 200;

}

#configuration-select-menu {
  width: 90%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background-color:  #ffcc99;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 2px solid #e67300;
  display: inline-block;
  padding: 2rem;
  
}

#configuration-select-menu h6, #markdown-panel h6, #markdown-panel2b h6 {
  text-align: center;
  font-weight: 500;
}
#dropdown-label {
  display: flex;
  flex-direction: row;
  
}

#dropdown-ESS, #dropdown-cable-temperature, #dropdown-cable-data, #dropdown-ESS-Data, #dropdown-save-results {
  width: 40%;
  margin-left: auto;
 /* display: flex;
  flex-direction: row;*/
  }
  



#simulation-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #EFEDED;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#graphs-container {
  display: flex;
  background-color: #EFEDED;
  flex-direction: column;
  flex: 3 1;
  max-width: calc(75%);
  width: 70%;

}


#bottom-panel-container h6,  {
  text-align: center;
  font-weight: 500;
}
#bottom-panel-container {
  width: 40%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background-color:  #ffcc99;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 2px solid #e67300;
  display: inline-block;
  margin: 15px;
  padding: 2%;
  max-width: 40%;
  
}
#revenue-label, #load-label1, #load-label2, #profile-label1, #profile-label2, #profile-label3 {
  display: flex;
  flex-direction: row;
}

/*.markdown-container {
  width: 80vw;
  margin: 10% auto;
  padding: 10px 15px;
  background-color: #EFEDED;
  border: white solid 0.8rem;
}*/
#markdown, #markdown2, #markdown3, #markdown4{
  width: 100%;
}

#markdown5 {
  width: 100%;
}

#markdown-container, #markdown-container2, #markdown-container3, #markdown-container4, #markdown-container5 {
  width: auto;
  background-color: #EFEDED;
  margin: 10%;

}

.markdown-content, .markdown-content2, .markdown-content3, .markdown-content4, .markdown-content5 {
  display: flex;
  direction: row;
  
  border-right: white solid 0.8rem;
  border-bottom: white solid 0.8rem;
}

.markdown-content5 {
  justify-content: center;
}
#markdown-content5 h2 {
  font-weight: 500;
}

#markdown-graph, #markdown-graph2, #markdown-graph3, #markdown-graph4{
  margin: 10% auto;
  padding: 10px 15px;
}
#markdown-panel, #markdown-panel2a, #markdown-panel3a, #markdown-panel4a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-left: white solid 0.8rem;
}

#markdown-panel button, #markdown-panel2a button, #markdown-panel3a button, #markdown-panel4a button, #dropdown-button button {
  border-radius: 4px;
  display: inline-block;
  color: white; 
  width: 90%;
  margin: 15px;
  background-color: #cc3300;
  border: 2px solid #992600;
}


#markdown-panel button:hover, #markdown-panel2a button:hover, #markdown-panel3a button:hover, #markdown-panel4a button:hover, #dropdown-button button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#markdown-panel2, #markdown-panel2b,  #markdown-panel3b,  #markdown-panel4b {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  background-color:  #ffcc99;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 2px solid #e67300;
  display: inline-block;
  margin: 15px ;
  padding: 1px;
}

/*#markdown-panel2a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  border-left: white solid 0.8rem;
}*/

/*
#markdown-panel2a button {
  border-radius: 4px;
  display: inline-block;
  color: white;
  width: 90%;
  margin: 15px;
  background-color: #cc3300;
  border: 2px solid #992600;
}


#markdown-panel2a button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#markdown-panel2b {

  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  background-color:  #ffcc99;
  justify-content: space-evenly;
  align-items: flex-start;
  border: 2px solid #e67300;
  display: inline-block;
  margin: 15px ;
  padding: 1px;


}
*/


.usecase_line_row {
  display: flex;
  flex-direction: row;
}


.value-setter-label2 {
  width: 29%;
  margin-left: auto;

}


#cable-parameter-menu-label, #temp-rise-parameter-menu-label, #load-model-parameter-menu h6 ,#ess-profile-parameter-menu h6, #revenue-block h6 {
  text-align: center;
  font-weight: 500;
}

#cable-parameter-menu, #temp-rise-parameter-menu, #load-model-parameter-menu, #ess-profile-parameter-menu {
  width: 45vw;
  margin: 15px;
  padding: 2%;
}

#revenue1, #revenue2, #revenue3 , #load1, #load2, #profile1, #profile2, #profile3 {
  width: 50%;
  margin-left: auto;
}

/*#temp-rise-parameter-menu-label {
  text-align: center;
  font-weight: 500;
}*/

/*#temp-rise-parameter {
  width: 45vw;
  margin: 15px;
  padding: 2%;
}*/


/* Pop Up 
__________________________________________________*/
/* The Modal (background) */
.modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1005; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */


.close-container {
  width: 100%;
  margin: 0;
  padding-bottom: 40px;
  
  height: 40px;
  border: white solid 0.8rem;

}

.closeButton {
  padding: 0 15px ;
  font-weight: normal;
  float: right;
  height: 100%;
  border: none;
}

.closeButton:hover {
  color: #91dfd2;
}

/* Tab1 content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#buttons-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: white solid 0.8rem;
  border-bottom: white solid 0.8rem;
  flex: 1 1;
  padding: 2rem;
  max-width: 25%;
}

#button1, #button2, #button3, #button4, #button5 ,#button1-life, #button1-temp, #button1-load, #button1-ess {
  border-radius: 4px;
  display: inline-block;
  color: white; 
  width: 90%;
  margin: 5px 2px;
}

.usecase-set-button {
  border-radius: 4px;
  
  color: white; 
  width: 140px;
  background-color: #cc3300;
  border: 2px solid #992600;
  margin-right: 2px;
  
}

.usecase-dropdown {
  width: 100px;
  border-radius: 4px;
  margin-right: 60px;
}

.usecase-switch {
  margin-left: auto;
  align-items: center;
  margin-right: 10%;
}

#button1-life,  #button1-temp, #button1-load, #button1-ess, #button4, #button5 {
  background-color: #cc3300;
  border: 2px solid #992600;
}


#button1, #button2, #button3 {
  background-color: #778888;
  border: 2px solid #535f5f;
}

/*#button3 {
  background-color: #ff751a;
  border: 2px solid #e65c00;
}*/

/*#button1:hover, #button2:hover, #button3:hover, #button1-life:hover, #button1-temp:hover, #button1-load:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/
#button1-life:hover, #button1-temp:hover, #button1-load:hover, #button1-ess:hover, #button4:hover , #button5:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#card-1, #card-2, #card-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 4rem;
}

#card-1 {
  margin-bottom: 6rem;
}

#card-3 {
  height: 4rem !important;
  margin-top: 6rem;
}

/* Tab 1 metric row
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
  ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
  */

  @media only screen and (max-width: 950px) {

  body {
    font-size: 1.3rem;
  }

  #big-app-container {
    padding: 1rem;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 1rem 0.5rem;
  }

  #banner-text {
    text-align: center;
  }

  .banner h5 {
    font-size: 1.4rem;
  }

  .banner h6 {
    font-size: 1.3rem;
  }

  #banner-logo button {
    display: none;
  }

  .banner Img {
    height: 3rem;
    margin: 1rem;
  }

  #app-container {
    height: auto;
  }

  #set-specs-intro-container {
    margin: 4rem 2rem 0rem 2rem;
    font-size: inherit;
  }

  #settings-menu {
    margin: 2rem;
    flex-direction: column;
  }

  #settings-menu > div {
    width: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 2rem 0rem;
  }

  #value-setter-panel-header {
    display: none;
  }

  #button-div {
    display: block;
    text-align: center;
  }

  #button-div button {
    margin: 1rem auto;
    display: block;
  }

  .output-datatable {
    align-self: center;
    margin: 2rem;
  }

  #status-container, #top-section-container {
    flex-direction: column;
    height: auto;
  }

  #buttons-panel {
    max-width: 100%;
  }

  #graphs-container {
    flex: 1;
    max-width: 100%;
    width: 100%;
  }

  #top-section-container > div {
    width: 100%;
    height: auto;
  }

  #card-1 P, #card-2 P {
    align-self: auto;
  }

  /*Removing borders}*/
  #right-graph {
    border-left: none;
  }

  #buttons-panel {
    border-right: none;
  }

}

@media only screen and (max-width: 600px) {
  /* Display measurement row contents block-level on mobile*/
  /** Display every row content in block*!*/
  #metric_header {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #metric-rows {
    height: fit-content;
  }

  #value-setter-panel {
    line-height: 2.5;
  }

  .metric-row {
    flex-direction: column;
    height: fit-content !important;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #1E2130;
    border-bottom: 1px solid #1E2130;
  }

  #metric-rows .column, #metric-rows .columns {
    width: 100% !important;
    float: none;
    margin: 0.25rem 0 !important;
    padding-left: 50%;
    position: relative;
  }

  #metric-rows .column:before, #metric-rows .columns:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /** Attach header vertically to table */
  .metric-row > div {
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  /*Hide Sparkline*/
  .metric-row > div:nth-of-type(3) {
    display: none;
  }

  .metric-row > div:nth-of-type(6) > div {
    margin-top: 6.5px !important;
  }

  /*Add table header column*/
  .metric-row > div:nth-of-type(1):before {
    content: "Parameter";
  }

  .metric-row > div:nth-of-type(2):before {
    content: "Total Measurement";
  }

  .metric-row > div:nth-of-type(3):before {
    content: "   ";
  }

  .metric-row > div:nth-of-type(4):before {
    content: "OOC %";
  }

  .metric-row > div:nth-of-type(5) {
    margin-top: 0 !important;
  }

  .metric-row > div:nth-of-type(5):before {
    content: "Out of Control";
  }

  .metric-row > div:nth-of-type(6):before {
    content: "Pass / Fail";
  }

  .output-datatable {
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  #Specs-tab.custom-tab {
    margin-right: 0;
  }

  #Control-chart-tab.custom-tab {
    margin-left: 0;
  }
}
